
<header class="header">
  <div class="row content-header">
    <div class="col-xs-6 col-md-3">
      <ul class="ul-icon">
        <li class="li-icon"><i title="HOME" class="icon fa fa-video-camera fa-2x"></i></li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-3 col-md-offset-6">
      <ul class="ul-networking">
        <li class="li-facebook"><i title="FACEBOOK" class="icon-facebook fa fa-facebook fa-2x"></i></li>
        <li class="li-twitter"><i title="TWITTER" class="icon-twitter fa fa-twitter fa-2x"></i></li>
      </ul>
    </div>
  </div>
</header>